<div class="container">
    

    <table class="table mt-3">
        <thead>
            <tr class="colorsfont">
                <th scope="col">Cliente</th>
                <th scope="col">Orden</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        
        <tbody >
            <tr *ngFor="let item of items" class="alert alert-success" role="alert" >

                <td>{{item.name}}</td>

                <td>
                    <tr *ngFor=" let order of item.order ">
                        {{order.value}}


                    </tr>
                </td>
                <td>${{item.total}}</td>

                <div class="form-group">
                    <button (click)="deleteItem($event, item)">
                                        Orden Lista
                                    </button>
                                </div>
                

            </tr>

        </tbody>
    

    </table>

</div>