.main-section {
    background:hsl(0, 59%, 52%);
    border: 1px solid ;
    background: #fff;
}

.profile-header {
    background:hsl(0, 59%, 52%);
    height: 150px;
}

.user-detail {
    margin: -50px 0 30px 0;
}

img {
    height: 100px;
    width: 100px;
}

.user-details h5 {
    margin: 15px 0 5px 0;
}