    body {
        padding-bottom: 50px;
    }
    
    .btn-marie {
        background-image: linear-gradient(#7b1fa2, #6a1b9a);
    }
    
    .letr {
        color: white;
    }
    
    .main-container {
        margin-top: 20px;
    }
    /* animaciones */
    
    .animated {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    
    .fast {
        -webkit-animation-duration: 0.4s;
        animation-duration: 0.4s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    
    .fadeIn {
        animation-name: fadeIn;
    }
    
    footer {
        color: white;
        position: fixed;
        bottom: 0px;
        width: 100%;
    }
    /*     
    h1 {
        color: rgb(248, 246, 246);
    } */
    
    .colorsfont {
        color: whitesmoke;
    }
    
    .img-marie {
        width: 130px;
    }
    
    .classButt {
        background-repeat: no-repeat;
        background-size: 500px;
        background-color: #FFFFFF;
        height: 350px;
        width: 300 px;
        background-position: center;
        font-size: 50px;
        border: none;
        color: transparent;
        cursor: pointer;
        margin: 30px;
    }
    
    .btnmenu {
        background-image: linear-gradient(#7b1fa2, #6a1b9a);
        color: #FFFFFF;
        padding: 20px;
        font-weight: 600;
        font-size: 18px;
        width: 100%;
        border: none;
        -webkit-appearance: button;
        appearance: button;
        margin: 15px;
        display: flex;
        justify-content: left;
    }