<div>
    <a type="button" class="btn btn-lg btn-block" routerLink="/breakfast" routerLinkActive="active">DESAYUNOS</a>
</div>
<br>
<br>
<br>
<br>
<div>
    <a type="button" class="btn btn-lg btn-block" routerLink="/lunch" routerLinkActive="active">ALMUERZOS</a>
</div>
<br>
<br>
<br>

<div>
    <button (click)="addProduct($event, p)" class="btn btn-lg">
        Configurar Menu
    </button>
<br>
<br>
    <div class="row col-md-5">
    <div *ngIf="adding" class="card card-body">
        <form (ngSubmit)="addProduct()">
            <div class="form-group">
                <input type="text" name="name" [(ngModel)]="product.name" class="form-control" placeholder="Nombre del producto">
            </div>
        
            <div class="form-group">
                <input type="text" name="type" [(ngModel)]="product.type" class="form-control" placeholder="Tipo">
            </div>

            <div class="form-group">
                <input type="number" name="price" [(ngModel)]="product.price" class="form-control" placeholder="Precio">
            </div>

    
            <button type="submit">
            Guardar
            </button>
        </form>
    </div>
</div>
</div>

