<div>
    <button (click)="addProduct($event, p)" class="btn-danger">
        Configurar Menu
    </button>

<br>
<br>
<br>
    
<div class="row col-md-5">
    <div *ngIf="adding" class="card card-body">
        <form (ngSubmit)="addProduct()">
            <div class="form-group">
                <input type="text" name="name" [(ngModel)]="product.name" class="form-control" placeholder="Nombre del producto">
            </div>
        
            <div class="form-group">
                <input type="text" name="type" [(ngModel)]="product.type" class="form-control" placeholder="Tipo">
            </div>

            <div class="form-group">
                <input type="number" name="price" [(ngModel)]="product.price" class="form-control" placeholder="Precio">
            </div>

            <div class="form-group">
                <input type="text" name="image" [(ngModel)]="product.imagen" class="form-control" placeholder="Imagen">
            </div>

            <button type="submit" class="btn-danger">
            Guardar
            </button>
        </form>
    </div>
</div>
</div>




<div>
    <!-- <a type="button" class="btn btn-danger" routerLink="/breakfast" routerLinkActive="active">DESAYUNOS</a> -->
    <a type="button" class="btn-danger btn-lg" routerLink="/breakfast" routerLinkActive="active" role="button">MENU DESAYUNO</a>
</div>
<br>
<br>
<br>

<div>
    <a type="button" class="btn-danger btn-lg " routerLink="/lunch" routerLinkActive="active">MENU ALMUERZO</a>
</div>
<br>
<br>
<br>

